html {
    height: 100%;
    background-color: #38FED2;
    background-position: left bottom;
    background-size: auto 100%;
    background-image: url(background.png);
    background-repeat: repeat-x;
}
.board {
    display: table;
    width: 90vmin;
    height: 90vmin;
    padding: 5vmin;
    margin: 0 auto;
}

.board-row {
    display: table-row;
}

    .board-row:nth-child(odd) .square:nth-child(even){
        background-color:  rgba(161,132,88, 0.7);
    }

    .board-row:nth-child(even) .square:nth-child(odd){
        background-color: rgba(161,132,88, 0.7);
    }

.square {
    color: #333;
    background-color: rgba(214,197,138, 0.7);
    font-size: calc(90vmin / 12.5);
    height: 12.5%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
}

    .square.white-piece {
        color: #fff;;
    }

    .square.movable:not(.active):hover {
        background-color: rgba(41,253,46, 0.7) !important;
        cursor: pointer;
    }

    .square.active {
        background-color: rgba(41,253,46, 0.7) !important;
    }

    .square.legal {
        background-color: rgba(181,254,182, 0.7) !important;
        cursor: pointer;
    }

        .square.legal:hover {
            background-color: rgba(156,253,157, 0.7) !important;
        }



